.Badge__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Badge__card {
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
}
.card--avatar {
  border-radius: 100%;
  width: 15%;
}
.Badge__card p {
  margin-bottom: 0;
}
.Badge__card--info {
  width: 80%;
}
.twitter {
  display: flex;
  justify-content: left;
}
.twitter--logo {
  width: 30px;
}
